@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --toggle-off: #4b5563;
    /* abu-abu gelap */
    --toggle-on: #f87171;

    /* merah muda (red-400 Tailwind) */

    --toggle-on: #fb923c;
    /* oranye (orange-400 Tailwind) */


}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: hsl(225, 56%, 13%);

    color: hsl(0, 0%, 93%);
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 20px 100px;
    border-radius: 16px;
    color: white;
    background-color: hsl(226, 25%, 17%);
}

header img:first-child {
    filter: brightness(0) invert(1);
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 20px 100px;
}

.nav-list ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-list ul li a {
    display: block;
    font-size: 14px;
    color: hsl(200, 60%, 99%);
    background-color: hsl(226, 25%, 17%);
    padding: 10px 12px;
    border-radius: 16px;
    text-decoration: none;
    cursor: pointer;
}

.nav-list ul li a.active {
    background-color: hsl(3, 86%, 64%);
    color: hsl(226, 25%, 17%);
    font-weight: 500;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 10px;
    margin: 0 100px 100px;
}

.card {
    background-color: hsl(226, 25%, 17%);
    padding: 20px;
    border-radius: var(--radius);
    border: 1px solid hsl(199, 9%, 40%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 14px;
}

.card .title {
    display: flex;
    align-items: start;
    gap: 10px;
    margin-bottom: 10px;
}

.card .title h3 {
    margin: 0 0 0 5px;
}

.card .title p {
    margin: 6px 0 0 5px;
    font-size: 12px;
    font-weight: 400;
    color: #8490a2;

}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.actions button {
    background-color: hsl(226, 25%, 17%);
    outline: white;
    color: hsl(200, 60%, 99%);
    padding: 8px 16px;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    transition: all ease 0.2s;
}

.actions button:hover {
    background-color: hsl(200, 60%, 99%);
    color: hsl(226, 25%, 17%);

    transform: scale(1.05);
}

.toggle {
    width: 36px;
    height: 20px;
    background-color: var(--toggle-off);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.toggle::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    transition: transform 0.2s ease;
}

.toggle.active {
    background-color: hsl(3, 86%, 64%);
    /* oranye */
}

.toggle.active::before {
    transform: translateX(16px);
}


/* .attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
} */